.bg-violet {
    background-color: rgb(39, 1, 39);
}

.list-group {
    --bs-list-group-bg: transparent;
}
.social-icons {
    display: flex;
    flex-direction: row; 
    align-items: center;
}

.social-icons .nav-item {
    margin-right: 17px; 
}


i.fa-brands.fa-linkedin-in.fa-2x.text-white:hover,
i.fa-brands.fa-twitter.fa-2x.text-white:hover,
i.fa-brands.fa-facebook.fa-2x.text-white:hover,
i.fa-brands.fa-github.fa-2x.text-white:hover,
i.fa-brands.fa-whatsapp.fa-2x.text-white:hover  {
    background-color: rgb(223, 137, 234);
}

section.banner {
    background-image: url(./img/banner4.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}
.colorlila {
    background-image: url(./img/lila.jpg);
}

h1.intro {
    padding-top: 15vh;
    font-size: 3rem;
}



.card-img-top {
    max-width: 100%;
    height: auto;
    box-shadow: 5px 50px 20px rgb(12, 12, 12);
  }
  
  @media only screen and (min-width: 768px) {
    .card-img-top {
      max-width: 60%;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .card-img-top {
      max-width: 40%;
    }
}

.link {
    text-decoration: none;
    color: black;
}

.carousel-inner {
    max-width: 600px; 
    max-height: 400px; 
    margin: 0 auto;
  }

.carousel-control-prev,
.carousel-control-next {
    background-color: black;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: black; 
}


li.vertical {
    display: block;
    margin: 0;
    writing-mode: vertical-rl;
    padding: 1rem 0;
    justify-content: center;
    font-size: 1.25rem;
}

nav.vertical {
    float: left;
    margin-left: 0.5rem;
    margin-top: 1.5rem;
}

a,
a:hover {
    text-decoration: none;
    color: rgb(39, 1, 39);
}

footer.bg-violet {
    width: 100%;
}

footer {
    margin-top: auto;
    padding: 20px 0; 
}
  
